.about-header {
  background-image: url("../assets/images/about.jpg");
}

.about-header h1 {
  color: var(--text-white);
  position: absolute;
  bottom: 0;
  font-size: 100px;
}

.chefs {
  padding-top: 70px;
  margin-top: 800px;
}

.container-about {
  width: 1000px;
  margin: 0 auto;
}

.chef-img {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.chef-img img {
  width: 320px;
  height: 320px;
}

.chef-left-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chef-right-card {
  display: flex;
  flex-direction: row-reverse;
}

.chef-content {
  width: 480px;
}

.left {
  margin-left: 100px;
}

.chef-name {
  color: var(--context-red);
  font-style: italic;
}

#gallery {
  margin-top: 100px;
  position: relative;
  padding-bottom: 100px;
}
.gallery-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 200px;
}

.img-1 {
  width: 270px;
  height: 330px;
  border-radius: 5px;
}

.img-2 {
  width: 240px;
  height: 240px;
  border-radius: 5px;
  margin-top: -80px;
}

.gallery-info {
  width: 330px;
}

.gallery-heading h1 {
  font-size: 100px;
  color: var(--faded-red);
  position: absolute;
  top: 30%;
  right: 20%;
  z-index: -9;
}

.gallery-second-line {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.img-3 {
  margin-top: 300px;
  margin-left: 150px;
}

.img-4 {
  width: 400px;
  height: 280px;
}

.img-gallery-content {
  margin-left: 260px;
  margin-top: 40px;
  text-align: end;
}
