.nav-header {
  width: 90%;
  padding: 0 5%;
  justify-content: space-between;
}
.nav-header .logo {
  margin-left: 0rem;
}
.first-line-menu {
  margin-right: 0rem;
}
#lang {
  margin-right: 0;
}
.main-list {
  /* margin: 0 0; */
  display: flex;
  width: 90%;
  padding: 0 5%;
  justify-content: flex-end;
}
.list-cards {
  width: 90%;
  padding: 0 4%;
  gap: 0 1%;
  justify-content: space-between;
}
.cards {
  margin: 2rem 0;
}

.contact {
  justify-content: space-between;
  padding: 0 5%;
  width: 90%;
}
.contact-content {
  display: flex;
  margin: 0 0;
}
.day-open {
  gap: 0 0rem;
  justify-content: space-between;
}
.contact-map {
  transform: translateY(0);
}
.count-num {
  background-color: white;
}

.footer {
  width: 90%;
  padding: 3% 5%;
  justify-content: space-between;
  align-items: center;
}
.branches {
  gap: 0 114px;
}
.branch::after {
  right: -10px;
  width: 3px;
  height: 43px;
}
.branches span {
  display: block;
  text-align: end;
  font-size: 14px;
}
.footer .branch {
  margin: 0 0;
}
.branch h4 {
  margin: 0 0;
  font-size: 18px;
}
.footer .logo img {
  margin: 0 0;
}

@media screen and (max-width: 1330px) {
  .list-cards {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .contact-map {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .list-cards {
    padding: 0 0%;
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .cards {
    justify-content: space-between;
    margin: 0 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #c4c4c4b2;
    border-top: 1px solid #c4c4c4b2;
  }
  .cards img {
    margin-left: 0;
  }
  .card-content {
    margin: 0 0;
  }
  .card-content h4,
  .card-content p {
    margin: 0 0;
    margin-left: 21px;
  }
  .card-content p {
    font-size: 15px;
  }
  .card-content h4 {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 16px;
  }
  .price {
    margin-left: 21px;
    margin-top: 25px;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
  }
}
