.hamburger-menu {
  display: none;
  /* position: absolute; */

  z-index: 9;
}

.line {
  width: 50px;
  height: 4px;
  background-color: var(--text-white);
  border-radius: 2px;
  /* display: inline-block; */
}

.middle-line {
  margin-bottom: 10px;
  margin-top: 10px;
}

.mobile-heavy .hamburger-heavy {
  width: 80px;
  height: 40px;
  position: relative;
  margin: 1rem;
  visibility: hidden;
  margin-left: 0rem;
  /* transition: all 800ms ease; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger-heavy div {
  width: 40%;
  background-color: var(--text-white);
  position: absolute;
  height: 2px;
}
.mobile-heavy .hamburger-heavy .line:first-child {
  transform: rotateZ(45deg);
}
.mobile-heavy .hamburger-heavy .line:last-child {
  transform: rotateZ(-45deg);
}

.first-header {
  width: 100%;

  height: 100vh;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/home-background.jpg");
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.nav-header .logo {
  margin-left: 6rem;
}

#bag {
  text-decoration: none;
  color: var(--text-white);
  transition: all 400ms ease;
}

#bag:hover {
  color: var(--context-red);
}

.search-bar {
  position: relative;
  visibility: hidden;
  opacity: 0;
  width: 0;
  /* transition: all 200ms ease; */
}
.search-bar.active {
  visibility: visible;
  opacity: 1;
  width: 660px;
}
.search-bar span.search {
  position: absolute;
  top: -20px;
  left: 1.2rem;
  font-size: 15px;
  /* font: weight 1px; */
}
.search-bar .search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 43px;
  border: 3px solid var(--context-red);
  background-color: var(--text-white);
  border-radius: 150px;
}
.search-input.active {
  transition: all 100ms ease;
  width: 660px;
}
.search-input input {
  flex: 1;
}

.search-input input,
button {
  border: 0;
  outline: none;
  background: none;
  padding: 0 1.7rem;
}
.logo img {
  margin-left: 10%;
  margin-top: 20px;
}

#arrow-lang:hover {
  stroke: var(--context-red);
}

.black-menu {
  position: absolute;
  top: 200px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  transition: ll 400ms ease;
  margin-right: 0rem;
  transition-delay: 0.2s;
  z-index: 11;
}

.black-menu ul li {
  list-style-type: none;
  text-align: end;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
}

.black-menu ul li a {
  display: inline-block;
  transition: margin-bottom 400ms ease;
  color: var(--text-white);
  text-decoration: none;
  font-size: 24px;
}

.first-line-menu {
  /* width: 100%; */
  color: var(--text-white);
  margin-right: 4rem;
}
.first-line-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 0;
}

.first-line-menu ul li {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 400ms ease;
}

.language {
  cursor: pointer;
  color: var(--light-grey);
}

.language.active {
  color: var(--context-red);
}
.language-section {
  background-color: var(--black-background);
  position: absolute;
  top: 33px;
  right: 130px;
  width: 100px;
  text-align: center;
  visibility: hidden;
}

.language-section.active {
  visibility: visible;
}

.language-section ul {
  display: flex;
  flex-direction: column;
}

li#search.deactive {
  visibility: hidden;
  opacity: 0;
}

.first-line-menu ul li:hover {
  color: var(--context-red);
}

.first-line-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#lang.active {
  background-color: var(--black-background);
}

.svg-class.active {
  transform: rotate(180deg);
}

#lang svg path {
  transition: all 400ms ease;
}

#lang:hover svg path {
  stroke: #d24a43;

  /* transform: rotate(180deg); */
}

/* ? btn css */

.minus,
.plus {
  background-color: var(--fade-button);
}
.minus,
.plus,
.count-num {
  padding: 0.6rem 3rem;
  cursor: pointer;
  margin: 0 0.3rem;
}
/* .count-num {
    padding: 0.6rem 3.9rem;
  } */
.minus.active,
.plus.active,
.count-num.active {
  /* background-color: red; */
  padding: 0;
}

/*! media query! */
@media screen and (max-width: 650px) {
  .nav-header {
    justify-content: space-around !important;
  }
  .nav-header .logo {
    margin-left: 0rem !important;
    margin-right: 0rem;
  }
  .first-line-menu .bag-count {
    margin: 0 0 !important;
  }
  .logo .img {
    margin-left: 0%;
  }
  #lang,
  #search {
    visibility: hidden;
  }

  .hamburger-menu {
    display: block !important;
  }
  .mobile-heavy .hamburger-heavy.active {
    visibility: visible;
    transition: all 800ms ease;
    transition-delay: 0.4s;
    margin-left: 1rem;
  }
  .first-line-menu {
    width: fit-content;
    margin-right: 0 !important;
  }
  .first-line-menu ul {
    padding: 0;
  }
  .first-line-menu .search-bar,
  .first-line-menu li#search,
  .first-line-menu li#lang,
  .first-line-menu .language-section {
    display: none;
  }
  .first-line-menu ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
