.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  height: 95px;
  width: 90%;
}

.line-menu {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.branches {
  width: 33.3%;
}

.nav-version {
  justify-content: space-between;
}

.line-menu ul {
  margin-top: 0;
  padding-bottom: 0;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-left: 0; */
}
.line-menu ul li {
  text-transform: uppercase;
}

.line-menu ul li#lang {
  width: fit-content;
  margin-right: 0;
  padding-left: 0;
}

.branch {
  position: relative;
  margin: 0 0;
}
.branch span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  display: block;
}
.branch h4 {
  margin: 0;
}
.branch h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
}

.nav-version .branch:last-child {
  margin-right: 0;
}
.nav-version .branch:first-child {
  margin-left: 0;
}
.line-menu ul li:first-child {
  margin-left: 0;
}
.logo img {
  margin: 0 0;
}

/* -----------------------Menu-line for menu and order pages-------------------------- */
.menu-content {
  margin-left: 10%;
  margin-right: 9%;
}
.menu-content ul li {
  list-style-type: none;
  /* padding-bottom: 4px; */
  cursor: pointer;
  /* line-height: 30px; */
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.menu-content ul li a:hover {
  border-bottom: 2px solid var(--context-red);
}

.menu-content ul li a {
  text-decoration: none;
  color: var(--black-background);
}
