.basket-column {
  display: flex;
  flex-direction: column;
}
.order-box {
  width: 470px;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 3px solid var(--faded-red);
  margin-top: 30px;
}

.order-box-content {
  margin: 0 auto;
}

.order-box-content p {
  color: var(--light-grey);
}

.order-box img {
  height: 100%;
  margin-top: 1px;
}

#add-comment {
  margin-top: 30px;
  width: 470px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--stroke-gray);
  padding-left: 20px;
}
.order-name {
  font-weight: bold;
  color: var(--black-background);
}

#add-comment:focus {
  outline: none !important;
  border: 1px solid var(--faded-red) !important;
}

.recommend-order-img {
  width: 170px;
  height: 123px;
}

.recommend-order-img {
  width: 170px;
  height: 123px;
}

.product-img.order-img {
  width: 155px;
  border-bottom-right-radius: 3px;
}
.comment-recommend {
  margin-top: 90px;
}

.price-tag {
  color: var(--faded-red);
}

.order-box-mini {
  border: 1px solid #c4c4c4b2;
  /* padding-left: 20px; */
  margin-bottom: 30px;
  border-radius: 5px;
}

.order-box-mini img {
  width: 170px;
  height: 130px;
  margin-top: 0px;
}

.order-total-box {
  margin-top: 30px;
  padding-top: 10px;
  width: 370px;
  padding-bottom: 30px;
  box-shadow: 0 0 2px var(--stroke-gray);
}

.container {
  margin: 0 200px;
}

#select-item,
.recomendation {
  margin-left: 60px;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-total,
.delivery,
.total-sum {
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 5px;
}

.total-sum {
  font-weight: bold;
}

.order-total-box h4 {
  padding-left: 20px;
}

.order-total-box button {
  color: var(--text-white);
  background-color: var(--faded-red);
  border: none;
  width: 330px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.button-box {
  display: flex;
  justify-content: center;
}

.note-order {
  text-align: center;
  font-size: 14px;
  color: var(--light-grey);
}

.order-box-content {
  padding-top: 15px;
  margin-left: 15px;
}
.count-regulator {
  background-color: var(--fade-button);
  margin-left: 10px;
}
.minus,
.plus,
.count-num {
  padding: 0 0;
  color: #4d4d4d;
  font-size: 18px;
}

.count-x {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  color: var(--faded-red);
}

.price-and-remove {
  display: flex;
  flex-direction: row;
}

.remove {
  margin-left: 150px;
  color: var(--light-grey);
  text-decoration: underline;
  cursor: pointer;
}

.add-item {
  color: var(--light-grey);
  text-decoration: underline;
  cursor: pointer;
}

.go-to-back {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.tag-order {
  width: 300px;
  margin-bottom: 60px;
}

.tag-order h4 {
  padding-left: 100px;
}

.second-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}

.second-footer p {
  margin-top: 50px;
  color: var(--light-grey);
}

.menu {
  display: none;
}

.menu-content ul li {
  list-style-type: none;
  cursor: pointer;
  line-height: 30px;
  text-transform: uppercase;
  width: 140px;
}

.menu-content ul li a:hover {
  border-bottom: 2px solid var(--context-red);
}

.menu-content ul li a {
  text-decoration: none;
  color: var(--black-background);
}

.card-paragraph {
  width: 290px;
  /* padding-right: 10px; */
}

.card-paragraph p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
