.email-profile,
.number {
  display: flex;
  flex: row;
}

.profile-card {
  position: relative;
  width: 460px;
  margin-left: 300px;
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 10px;
  line-height: 2px;
  box-shadow: 0 5px 5px -5px var(--stroke-gray),
    -5px 0 5px -5px var(--stroke-gray), 5px 0 5px -5px var(--stroke-gray);
}

.edit {
  position: absolute;
  right: 25px;
  top: 17px;
  color: var(--faded-red);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table {
  margin-top: 80px;
  margin-left: 300px;
  margin-bottom: 90px;
  box-shadow: 0 5px 5px -5px var(--stroke-gray),
    -5px 0 5px -5px var(--stroke-gray), 5px 0 5px -5px var(--stroke-gray);
}

table tr {
  position: relative;
}

table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 470px;
  padding-left: 20px;
}

tr:nth-child(even) {
  background: #f6f6f6;
}
