@media only screen and (max-width: 1250px) {
  .second-header {
    justify-content: space-between;
  }

  .line-menu {
    width: 50%;
  }

  .branches.nav-version {
    display: none;
  }

  .contact-map img {
    width: 600px !important;
    height: 300px;
  }
  .discount-img img {
    border-radius: 5px;
    width: 450px !important;
    height: 230px;
  }
}

@media only screen and (max-width: 1200px) {
  .contact-map img {
    width: 550px !important;
    height: 300px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1170px) {
  .discount-img img {
    width: 420px !important;
    height: 260px;
  }
  .discount-br {
    display: block;
  }
  .old-price {
    margin-left: 0;
  }
  .discount-card-content {
    width: 300px;
  }
}

@media only screen and (max-width: 1100px) {
  .crumb-back {
    margin-left: 50px;
  }
  .contact-map img {
    width: 500px !important;
    height: 300px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .gallery-first-line {
    flex-direction: row;
    overflow-x: auto;
    justify-content: unset;
  }
  .contact {
    flex-wrap: wrap;
  }

  .contact-content {
    margin-left: 0;
  }
  .contact-map img {
    width: 450px !important;
    height: 300px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 930px) {
  .paraqraf-discount {
    padding-right: 30px;
  }

  .discount-img img {
    height: 260px;
  }

  .discount-add-order {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 870px) {
  .branch-adjami {
    margin-right: 30px;
  }
  .container-row {
    flex-direction: column;
  }
  .container-responsive {
    margin: 0 auto;
  }
  /* .container-order-responsive {
    margin: 0 0px;
  } */

  .add-item,
  .recommendation-heading {
    margin: 30px 180px;
  }

  .crumb-back {
    margin-left: 0px;
  }
  .go-to-back {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .discount-img img {
    height: 260px;
  }
}

@media only screen and (max-width: 851px) {
  .discount-img img {
    width: 385px;
    height: 280px;
  }
  .discount-add-order {
    margin-top: 25px;
    width: 170px;
  }
}

@media only screen and (max-width: 837px) {
  .discount-img img {
    height: 257px;
    width: 380px !important;
  }
  .discount-add-order {
    width: 175px;
  }
}

@media only screen and (max-width: 800px) {
  .add-item {
    margin: 30px 170px;
  }
}
@media only screen and (max-width: 797px) {
  .discount-img img {
    height: 273px;
    width: 380px !important;
  }
  .discount-add-order {
    width: 175px;
  }
}

@media only screen and (max-width: 783px) {
  .discount-img img {
    height: 292px;
    /* width: 380px !important; */
  }
}

@media only screen and (max-width: 770px) {
  .card-middle {
    margin-left: 0px;
    margin-right: 0;
  }

  .discount-img img {
    height: 235px !important;
    width: 270px !important;
  }
}

@media only screen and (max-width: 750px) {
  .add-item {
    margin: 30px 140px;
  }
}

@media only screen and (max-width: 733px) {
  .discount-img img {
    height: 235px !important;
    width: 250px !important;
  }
}

@media only screen and (max-width: 706px) {
  .discount-img img {
    height: 250px !important;
    width: 250px !important;
  }
}

@media only screen and (max-width: 700px) {
  .add-item {
    margin: 30px 110px;
  }
}

@media only screen and (max-width: 650px) {
  .main-list ul {
    display: none;
  }
  .lang-arrow {
    display: none;
  }

  .black-menu.btn-active {
    visibility: visible;
    opacity: 1;
    transition: all 800ms ease;
    margin-right: 0rem;
    display: block;
  }

  .language-search-mobile.active {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
  }

  .search-bar.mobile-active {
    display: block;
    position: absolute;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    width: 70%;
    left: 5%;
    top: 20%;
  }

  .search-bar {
    display: none;
  }
  .second-header {
    justify-content: space-between;
  }
  .second-header .logo {
    margin: 0 0;
  }
  .second-header .line-menu {
    margin: 0 0;
    width: fit-content;
  }
  .second-header .line-menu li:not(.bag-count) {
    display: none;
  }

  .nav-header {
    justify-content: space-between;
  }
  .nav-header .logo {
    margin-left: 0rem !important;
    margin-right: 0 !important;
  }
  .first-line-menu .bag-count {
    margin: 0 0 !important;
  }

  .logo .img {
    margin-left: 0%;
  }
  #lang,
  #search {
    visibility: hidden;
  }
  .hamburger-menu {
    display: block !important;
  }
  .mobile-heavy .hamburger-heavy.active {
    visibility: visible;
    transition: all 800ms ease;
    transition-delay: 0.4s;
    margin-left: 1rem;
  }

  .first-line-menu {
    width: fit-content;
    margin-right: 0 !important;
  }

  .first-line-menu ul {
    padding: 0;
  }
  .first-line-menu .search-bar,
  .first-line-menu li#search,
  .first-line-menu li#lang,
  .first-line-menu .language-section {
    display: none;
  }
  .first-line-menu ul li {
    margin-left: 0px !important;
    margin-right: 0 !important;
  }

  .contact {
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
    align-items: flex-start;
  }

  #lang,
  #search {
    visibility: hidden;
  }
  .branches {
    display: none;
  }
  .footer .logo {
    margin: 0 auto;
  }
  .footer .logo img {
    margin-left: 0px;
    margin-top: 0px;
  }

  .arrow-up-icon {
    margin-left: 0px;
  }

  .hamburger-menu {
    display: block !important;
  }
  .mobile-heavy .hamburger-heavy.active {
    visibility: visible;
    transition: all 800ms ease;
    transition-delay: 0.4s;
    margin-left: 1rem;
  }
  .first-line-menu {
    width: fit-content;
  }
  .first-line-menu ul {
    padding: 0;
  }
  .first-line-menu .search-bar,
  .first-line-menu li#search,
  .first-line-menu li#lang,
  .first-line-menu .language-section {
    display: none;
  }
  .first-line-menu ul li {
    margin-left: 0px;
    margin-right: 0;
  }

  .black-menu.active {
    visibility: visible;
    opacity: 1;
    transition: all 800ms ease;
    margin-right: 1rem;
    transition-delay: 0.25s;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu-cards {
    margin-left: 0;
  }
  .card-menu {
    margin-left: 0;
  }
  .menu-content ul li {
    /* margin-right: 10px; */
    line-height: 20px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }
  .menu-content ul {
    margin-left: 0;
    margin-bottom: 40px;
    padding-left: 0;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .menu-content {
    margin-left: 0;
  }

  .breadcrumb {
    padding-bottom: 0px;
  }
  .add-item {
    margin: 30px 80px;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
  .second-footer {
    justify-content: space-between;
  }
  .footer .logo img {
    margin-left: 0px;
  }

  /* .owl-item.active {
    width: 500px !important;
  } */

  /* ------------------about us---------------------- */

  .contact .contact-hr {
    display: block;
    width: 100%;
    margin: 11px auto 0;
  }
  .contact-column-second,
  .contact-column-first {
    width: 100%;
    margin: 0 0;
  }

  .day-open {
    display: flex;
    /* justify-content: space-between; */
    gap: 0 10rem;
  }

  .contact-column-second br.desktop {
    display: none;
  }
  .contact-column-second br.mobile {
    display: block;
  }
  .contact-map {
    display: none;
  }

  /*--------------- order page ----------------- */

  .tag-order {
    margin-bottom: 0;
  }

  #select-item {
    display: none;
  }

  .discount-card {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;
  }
  .discount-img img {
    margin-left: -46px;
    width: 128% !important;
    height: 180px !important;
  }

  .discount-add-order {
    width: 66%;
    position: absolute;
    bottom: 20px;
    left: 83px;
  }
  .paraqraf-discount {
    padding-right: 0px;
    width: 340px;
    margin-left: -25px;
  }

  .title-discount,
  .old-price {
    margin-left: 45px;
  }

  /* .owl-stage {
    margin-left: -50px;
  } */
}

@media only screen and (max-width: 610px) {
  .discount-add-order {
    left: 70px;

    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .add-item {
    margin: 30px 65px;
  }
  .go-to-back {
    display: none;
  }

  /* .owl-item {
    width: 500px !important;
  } */
}

@media only screen and (max-width: 585px) {
  .discount-add-order {
    left: 63px;

    width: 72%;
  }
}

@media only screen and (max-width: 565px) {
  .discount-add-order {
    left: 57px;
    width: 74%;
  }
}

@media only screen and (max-width: 550px) {
  .crumb-back {
    margin-left: 50px;
  }

  .go-to-back {
    margin-top: 20px;
    /* margin-bottom: 50px; */
  }

  .add-item {
    margin: 30px 50px;
  }

  /* .owl-item.active {
    width: 80% !important;
  } */
}

@media only screen and (max-width: 540px) {
  .discount-add-order {
    left: 49px;
    width: 77%;
  }
}

@media only screen and (max-width: 520px) {
  .discount-add-order {
    left: 40px;
    width: 79%;
  }
}

@media only screen and (max-width: 505px) {
  .discount-add-order {
    left: 37px;
    width: 82%;
  }
}

@media only screen and (max-width: 500px) {
  #add-comment {
    width: 440px;
  }
}

@media only screen and (max-width: 485px) {
  .discount-add-order {
    left: 30px;
    width: 85%;
  }
}

@media only screen and (max-width: 470px) {
  #add-comment {
    width: 99%;
    margin: 20px auto;
  }

  .discount-img img {
    margin-left: -10px;
    width: 100% !important;
    height: 180px !important;
  }

  .discount-add-order {
    width: 77%;
    position: absolute;
    bottom: 20px;
    left: 43px;
  }
  .paraqraf-discount {
    padding-left: 20px;
    width: 300px;
  }

  .title-discount,
  .old-price {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 450px) {
  #discounts {
    padding-top: 30px;
  }
  .call {
    display: flex;
  }

  .arrow-down-icon {
    right: 42%;
    display: flex;
    bottom: 20px;
    position: absolute;
  }

  .simple-marquee-container {
    display: none;
  }

  #new {
    padding-top: 0;
  }

  .cards {
    width: 470px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* margin-top: 30px; */
    /* border: 1px solid #c4c4c4b2; */
    border-radius: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid var(--light-grey);
    margin: 0;
  }
  .count-x,
  #add-comment,
  #select-item,
  .cards-order .count-regulator,
  .cards-order .remove,
  .second-footer p,
  .add-item {
    display: none;
  }

  .product-img {
    width: 154px;
    margin-top: 0px;
    margin-top: 0px;
    margin-left: 66px;
  }

  .product-img-mob {
    margin-left: 0px;
    height: 220px !important;
  }

  .card-content p {
    margin-top: -18px;
  }
  .card-middle {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-content {
    margin-left: 10px;
  }

  .price {
    position: static;
    margin-left: 12px;
  }

  .contact {
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .card-mobile {
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.25);
    width: 370px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-bottom: 90px;
    display: block;
  }

  .card-content-mobile {
    position: relative;
  }

  .card-content-mobile h4,
  p {
    margin-left: 10px;
  }

  .mobile-prize {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .card-mobile img {
    width: 310px;
    height: 220px;
  }

  .second-footer {
    display: flex;
    justify-content: center;
  }
  .get-in-touch-tag {
    background-color: var(--black-background) !important;
  }

  .get-in-touch-tag h4 {
    margin-left: 0px;
  }

  .tag-recommended h4,
  .tag-new h4 {
    margin-left: 0;
  }

  .tag {
    width: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--black-background);
  }
  .tag-order {
    margin-top: 0px;
  }
  .tag-order h4 {
    padding-left: 0;
  }

  .tag-discount h4 {
    margin-left: 0;
  }

  .product-img {
    height: 110px;
  }
  .price-tag {
    color: var(--dark-grey) !important;
  }
  .recomendation {
    margin-top: 40px;
    margin-bottom: -12px;
    margin-left: 30px;
  }

  .card-paragraph {
    width: calc(100vw - 165px);
  }

  .discount-add-order {
    width: 83%;

    left: 32px;
  }
}

@media only screen and (max-width: 420px) {
  .discount-add-order {
    width: 86%;
    left: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .discount-img img {
    margin-left: 20px;
    width: 80% !important;
    height: 180px !important;
  }

  .discount-add-order {
    width: 75%;
    position: absolute;
    bottom: 20px;
    left: 43px;
  }
  .paraqraf-discount {
    padding-left: 40px !important;
    width: 280px;
  }

  .title-discount,
  .old-price {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 370px) {
  .discount-img img {
    margin-left: 30px;
    width: 70% !important;
    height: 180px !important;
  }

  .discount-add-order {
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: 43px;
  }
  .paraqraf-discount {
    width: 250px;
    text-align: center;
    padding-left: 0px;
  }

  .title-discount,
  .old-price {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 350px) {
  .product-img {
    width: 120px !important;
    margin-left: 20px;
  }

  .profile-card {
    width: 250px;
    font-size: 14px;
  }
  .cards {
    width: 100%;
  }

  .product-img-mob {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .card-paragraph {
    width: calc(100vw - 145px);
  }
}

@media only screen and (max-width: 335px) {
  .card-paragraph {
    width: calc(100vw - 125px);
    padding-right: 5px;
  }
  .card-paragraph p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-paragraph {
    width: calc(100vw - 140px);
  }
}

@media only screen and (max-width: 300px) {
  .product-img {
    width: 100px !important;
    margin-left: 0px;
  }
  .product-img-mob {
    width: 100% !important;
    margin-left: 0px !important;
  }

  .card-paragraph {
    width: calc(100vw - 120px) !important;
  }

  .discount-img img {
    margin-left: 20px;
    width: 75% !important;
    height: 180px !important;
  }

  .discount-add-order {
    left: 35px;
  }

  .owl-stage {
    margin-left: -33px;
  }
  .discount-card {
    width: 230px;
    margin-left: 58px;
  }
}

/*---------------------------------Slider responsive--------------------------*/

@media only screen and (max-width: 771px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -90px;
  }
}

@media only screen and (max-width: 691px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -100px;
  }
}
@media only screen and (max-width: 668px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -105px;
  }
}
@media only screen and (max-width: 628px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -80px;
  }
}

@media only screen and (max-width: 555px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -70px;
  }
}

@media only screen and (max-width: 535px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -50px;
  }
}

@media only screen and (max-width: 505px) {
  .list-cards .owl-stage-outer .owl-stage {
    margin-left: -30px;
  }
}
/*------------------------------About us css----------------------------------*/
@media only screen and (max-width: 650px) {
  .container {
    width: auto;
  }
  .about-header h1 {
    font-size: 60px;
  }

  .nav-header {
    justify-content: space-between;
  }
  .nav-header .logo {
    margin-left: 0rem !important;
    margin-right: 0rem;
  }
  .first-line-menu .bag-count {
    margin: 0 0 !important;
  }
  .logo .img {
    margin-left: 0%;
  }
  #lang,
  #search {
    visibility: hidden;
  }
  .branches {
    display: none;
  }
  .footer .logo {
    margin: 0 auto;
  }
  .footer .logo img {
    margin-left: 0px;
    margin-top: 0px;
  }

  .hamburger-menu {
    display: block !important;
  }
  .mobile-heavy .hamburger-heavy.active {
    visibility: visible;
    transition: all 800ms ease;
    transition-delay: 0.4s;
    margin-left: 1rem;
  }
  .first-line-menu {
    width: fit-content;
    margin-right: 0 !important;
  }
  .first-line-menu ul {
    padding: 0;
  }
  .first-line-menu .search-bar,
  .first-line-menu li#search,
  .first-line-menu li#lang,
  .first-line-menu .language-section {
    display: none;
  }
  .first-line-menu ul li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .main-list {
    display: none;
  }

  .black-menu.active {
    visibility: visible;
    opacity: 1;
    transition: all 800ms ease;
    margin-right: 1rem;
    transition-delay: 0.25s;
  }
  .contact-map {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .order-bar {
    display: none;
  }

  .cards {
    width: 470px;
    display: flex;
    flex-direction: row-reverse;
    /* border-radius: 5px; */
    /* margin-top: 30px; */
    border: 1px solid #c4c4c4b2;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .cards img {
    width: 160px;
    height: 130px;
    margin-top: 0px;
  }

  .card-middle {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-content h4,
  p {
    margin-left: 5px;
  }

  .price {
    position: static;
    margin-left: 5px;
  }

  .second-line-menu {
    display: none;
  }

  .branches {
    display: none;
  }
  .tag {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .contact {
    flex-direction: column;
  }
  .contact .contact-hr {
    display: block;
    width: 100%;
    margin: 11px auto 0;
  }
  .contact-column-second,
  .contact-column-first {
    width: 100%;
  }
  .day-open {
    display: flex;
    /* justify-content: space-between; */
    gap: 0 10rem;
  }

  .contact-column-second br.desktop {
    display: none;
  }
  .contact-column-second br.mobile {
    display: block;
  }
  .contact-map {
    display: none;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .card-mobile {
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.25);
    width: 370px;
    /* padding-bottom: 20px; */
    border-radius: 5px;
    margin-bottom: 0px;
    display: block;
  }

  .card-content-mobile {
    position: relative;
  }

  .card-content-mobile h4,
  p {
    margin-left: 10px;
  }

  .mobile-prize {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .card-mobile img {
    width: 100%;
    height: 220px;
  }
}
